// src/styles/components/sections/intro-sections/_trek.scss

@use '../../../base/variables' as *;
@use '../../../base/mixins' as *;


.trek {
	padding: 60px 0;
	color: $color-text-dark;

	@include respond-to($breakpoint-sm) {
		padding: 25px 0px;
	}


	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		transform: rotate(180deg);
		margin: 0px 0px 40px 0px;
	}

	&__title {
		font-size: 34px;
		font-weight: 900;
		line-height: 1.2;
		margin: 0px 0px 60px 0px;

		@include respond-to($breakpoint-sm) {
			font-size: 26px;
		}
	}

}