// src/styles/components/sections/intro-sections/_result-histogram.scss
@use '../../../base/variables' as *;
@use '../../../base/mixins' as *;

.histogram {
	&__container {
		max-width: 1170px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__body {
		margin-bottom: 30px;
		border-radius: $radius-block;
		color: $color-text-dark;
		padding: 30px;
		box-shadow: $shadow-block;

		@include respond-to($breakpoint-md) {
			padding: 15px;
		}
	}

	&__title {
		text-align: center;
		line-height: 120%;
		font-size: 24px;
		font-weight: 700;
		margin: 0 0 15px 0;
		color: $color-text-dark;

		@include respond-to($breakpoint-md) {
			padding: 10px;
			font-size: 18px;
			font-weight: 700;
			margin: 0;
			text-align: left;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__category-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
		padding: 15px;
		border: 1px solid $color-border;
		border-radius: $radius-block;


		@include respond-to($breakpoint-xl) {
			grid-template-columns: 1fr;
gap: 20px;
		}

		&.border {
			border: 1px solid $color-accent-light;
		}
	}

	&__category-description {
		font-size: 14px;
		line-height: 1.4;
	}

	&__category {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.4;
		margin: 0 0 10px 0;
	}

	&__columns {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-direction: column;
		height: auto;
		gap: 3px;
	}

	&__column {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;
		gap: 10px;
		margin-bottom: 0;
	}

	&__percentage {
		color: $color-text-dark;
		font-size: 14px;
		line-height: 140%;
		font-weight: 500;
		width: 50px;
		text-align: right;
		margin-bottom: 0;
	}

	&__bar-container {
		flex-grow: 1;
		width: 100%;
		position: relative;
		background-color: $color-hist-bar-bg;
		border-radius: $radius-small;
		overflow: hidden;
		height: 8px;
	}

	&__bar {
		position: absolute;
		bottom: 0;
		width: auto;
		height: 8px;
		transition: width 0.3s ease;
		border-radius: $radius-small;

		&.category-block__mind {
			background-color: $color-hist-mind;
		}

		&.category-block__man {
			background-color: $color-hist-man;
		}

		&.category-block__hands {
			background-color: $color-hist-hands;
		}

		&.category-block__clock {
			background-color: $color-hist-clock;
		}
	}

	&__pattern-abr {
		font-size: 14px;
		color: $color-text-dark;
		width: 50px;
		font-family: "PT Sans";

		@include respond-to($breakpoint-md) {
			font-weight: 600;
		}
	}

	&__pattern {
		font-size: 12px;
		font-weight: 600;
		line-height: 1.4;
		color: $color-text-dark;
		width: 440px;
		font-family: "PT Sans";
		text-transform: uppercase;

		@include respond-to($breakpoint-md) {
			display: none;
		}
	}
}

// legend-------------------------------
.legend {
	display: none;

	@include respond-to($breakpoint-md) {
		display: block;
		padding: 10px;
		color: $color-hist-legend;
	}

	&__grid {
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-size: 14px;
		line-height: 120%;
		font-family: "PT Sans";
	}

	h4 {
		line-height: 120%;
		font-weight: 600;
		font-size: 14px;
		margin: 0 0 10px 0;
	}

	&__item {
		display: grid;
		grid-template-columns: 13% 5% 1fr;
	}
}

.abbreviation {
	font-weight: 600;
}

.maximum {
	color: $color-hist-maximum;
	font-weight: bold;
}