@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.result {
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.result-main {
	background-color: $color-bg-gray-light;
	padding: 50px 0;

	@include respond-to($breakpoint-sm) {
		padding: 30px 0;
	}

	&__subtitle {
		line-height: 120%;
		font-size: 34px;
		font-weight: 900;
		margin: 0px auto 40px;
		text-align: center;
		color: #000;

		@include respond-to($breakpoint-sm) {
			font-size: 26px;
			margin: 0px 0px 20px 0px;
		}
	}
}